
<h1>About page</h1>
<!-- example of public page -->
<p>Example of ASP.Net Core, Web API, SQL, EF Core, Angular 2, where data is secured using SQL, OpenIdDict & JWT:</p>
<p>Content page is secured, unauthorised users will be blocked and redirected to login page</p>
<small>watch this space, more to follow ...</small>