<div class="jumbotron center-block">
    <h1>About the project</h1>
    <!-- example of public page -->
    <p>This application is the ASP.Net Core MultiSPA project, a framework that aims to take the best of ASP.Net Core, Web API, SQL, EF Core, Angular 2 and ASOS security and use each of them in a working project that provides guidance and examples to the developer.</p>
    <p>There are no strings attached to using the framework (and absolutely no warranties either, so use this at your own risk), but if you get something out of it, please do consider helping out on this or another open-source project.</p>
    <p>Interested in contributing to the project? Then please let me know via my <a href="https://dyball.wordpress.com/">blog</a>.</p>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- example of bootstrap 4 dismissable alert-->
        <strong>OpenIdDict - OpenID + OAuth + JWT / JSON Web Tokens</strong>
    </div>
    <p><a routerLink="/content">Content</a> page is secured, unauthorised users will be blocked and redirected to <a routerLink="/login">Login</a> page</p>
    <p><a href="https://github.com/openiddict/openiddict-core">OpenIdDict</a> is used for security. Pages are secured client-side using auth. 'guard' code, and server-side using attributes that decribe auth. roles/requirements.</p>

    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- example of bootstrap 4 dismissable alert-->
        <strong>ASP.Net Core <i>and</i> Angular 2</strong>
    </div>

    @{
        // example of Razor
        string razorServerSideData = "ASP.Net Core";
    }

    <p>Apart from serving content, active use is made of @razorServerSideData Razor code, to populate template views used by client-side Angular {{1+1}}.</p>
    <p>At this stage there is no intention to use webpack, instead code is kept simple using conventional systemjs.config and angular boot code.</p>

    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- example of bootstrap 4 dismissable alert-->
        <strong>Bootstrap 4.0.0</strong>
    </div>

    <p>Styling is done using latest Bootstrap 4.0.0 release (currently Alpha 9).</p>
</div>

