
<h1>{{title}}</h1>
<nav>
    <a routerLink="/home" routerLinkActive="active">Home / Login</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/content" routerLinkActive="active">Content (to be secured)</a>
</nav>
<router-outlet></router-outlet>
