

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID #</th>
                <th>Image</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let dataItem of categories">
                <td>{{dataItem.id}}</td>
                <td>
                    <img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +  dataItem.image)" title="{{dataItem.description}}">
                </td>
                <td>{{dataItem.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
