@using Angular2MultiSPA.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*,Angular2MultiSPA"
@model Product

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Categories:</h3>
                    </div>

                    <div class="panel-body">
                        <!-- current selected category, default to first -->
                        <div class="image">
                            <img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +  selectedCategory?.image)" title="{{selectedCategory?.description}}">
                        </div>
                        <!-- list of all categories -->
                        <div class="list-group" *ngFor="let categoryItem of categories">
                            <!-- category -->
                            <button type="button" (click)="selectCategory(categoryItem)" 
                                    title="{{categoryItem.description}}"
                                    class="list-group-item list-group-item-action {{ getClass(categoryItem) }}">{{categoryItem.name}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-10">
                <div class="row">
                    <!-- list of products within current selected category -->
                    <div *ngFor="let productItem of products">
                        <!-- product -->
                        <div class="card col-md-4 col-sm-6">
                            <div class="card-block">
                                <h4 class="card-title"><tag-da bind-pa="productItem" for="Name"></tag-da></h4>
                                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            </div>
                            <div class="card-block">
                                <p class="card-text">{{productItem.description}}</p>
                                <tag-da class="col-md-4" bind-pa="productItem" for="UnitPrice"></tag-da>
                                <tag-da class="col-md-8 small" bind-pa="productItem" for="QuantityPerUnit"></tag-da>
                                <span class="col-md-8">
                                    <a class="text-primary" onclick="alert('2b added to cart :)');return (false);"><i class="icon ion-ios-cart fadeIn"></i> Add to Cart</a>
                                    <span class="col-md-3 small" *ngIf="productItem.discontinued">Discontinued</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
