@using Angular2MultiSPA.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*,Angular2MultiSPA"
@model SampleData

<style>
    table#code {
        border: 0px;
    }

        table#code tr th {
            font-style: normal;
            font-size: small;
        }

        table#code tr td {
            padding: 0px;
            padding-left: 10px;
            border: 0px;
            margin: 0px;
        }

            table#code tr td pre {
                padding: 0px;
                padding-right: 10px;
                border: 0px;
                margin: 0px;
                font-size: smaller;
            }
</style>

<div class="row">
    <div *ngIf="sampleData != null">

        <div class="col-md-12">
            <h4>Tag Helper For Data Input (read / write / edit), &lt;tag-in&gt;</h4>
            <table id="code">
                <tr>
                    <th>Server-side CSHTML before tag-helpers are applied:<br /><br /></th>
                    <th>Angular 2 generates this output into the client's browser:<br /><br /></th>
                </tr>
                <tr>
                    <td><pre>@{ Write(@"<div *ngIf=""sampleData != null"">"); }</pre></td>
                    <td></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-in bind-pa=""sampleData"" for=""DateTimeVar""></tag-in>"); }</pre></td>
                    <td><tag-in bind-pa="sampleData" for="DateTimeVar"></tag-in></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-in bind-pa=""sampleData"" for=""DateVar""></tag-in>"); }</pre></td>
                    <td><tag-in bind-pa="sampleData" for="DateVar"></tag-in></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-in bind-pa=""sampleData"" for=""TimeVar""></tag-in>"); }</pre></td>
                    <td><tag-in bind-pa="sampleData" for="TimeVar"></tag-in></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-in bind-pa=""sampleData"" for=""Duration""></tag-in>"); }</pre></td>
                    <td><tag-in bind-pa="sampleData" for="Duration"></tag-in></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-in bind-pa=""sampleData"" for=""PhoneNumber""></tag-in>"); }</pre></td>
                    <td><tag-in bind-pa="sampleData" for="PhoneNumber"></tag-in></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-in bind-pa=""sampleData"" for=""Currency""></tag-in>"); }</pre></td>
                    <td><tag-in bind-pa="sampleData" for="Currency"></tag-in></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-in bind-pa=""sampleData"" for=""Text""></tag-in>"); }</pre></td>
                    <td><tag-in bind-pa="sampleData" for="Text"></tag-in></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@"</div>"); }</pre></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
    <div *ngIf="sampleData != null">

        <div class="col-md-12">
            <h4>Tag Helper to Display Data (read-only), &lt;tag-da&gt;</h4>
            <table id="code">
                <tr>
                    <th>Server-side CSHTML before tag-helpers are applied:<br /><br /></th>
                    <th>Angular 2 generates this output into the client's browser:<br /><br /></th>
                </tr>
                <tr>
                    <td><pre>@{ Write(@"<div *ngIf=""sampleData != null"">"); }</pre></td>
                    <td></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-da bind-pa=""sampleData"" for=""DateTimeVar""></tag-da>"); }</pre></td>
                    <td><tag-da bind-pa="sampleData" for="DateTimeVar"></tag-da></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-da bind-pa=""sampleData"" for=""DateVar""></tag-da>"); }</pre></td>
                    <td><tag-da bind-pa="sampleData" for="DateVar"></tag-da></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-da bind-pa=""sampleData"" for=""TimeVar""></tag-da>"); }</pre></td>
                    <td><tag-da bind-pa="sampleData" for="TimeVar"></tag-da></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-da bind-pa=""sampleData"" for=""Duration""></tag-da>"); }</pre></td>
                    <td><tag-da bind-pa="sampleData" for="Duration"></tag-da></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-da bind-pa=""sampleData"" for=""PhoneNumber""></tag-da>"); }</pre></td>
                    <td><tag-da bind-pa="sampleData" for="PhoneNumber"></tag-da></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-da bind-pa=""sampleData"" for=""Currency""></tag-da>"); }</pre></td>
                    <td><tag-da bind-pa="sampleData" for="Currency"></tag-da></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@" <tag-da bind-pa=""sampleData"" for=""Text""></tag-da>"); }</pre></td>
                    <td><tag-da bind-pa="sampleData" for="Text"></tag-da></td>
                </tr>
                <tr>
                    <td><pre>@{ Write(@"</div>"); }</pre></td>
                    <td></td>
                </tr>
            </table>
        </div>




    </div>
</div>

