
@using Angular2MultiSPA.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*,Angular2MultiSPA"
@model SampleData

<style>
    pre.code {
        border: 1px;
        font-size: smaller;
        line-height: 22px;
        background-color: honeydew;
    }
</style>

<div class="row">

    <!-- http://codepen.io/jek/pen/BoWNRy?css-preprocessor=sass  -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#tagin" role="tab" data-toggle="tab">Data Entry Tag Helpers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tagda" role="tab" data-toggle="tab">Data Input Tag Helpers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tagin">
            <div class="col-md-6">

                <p>snippet from server-side C# view-model, containing optional data attributes:</p>
                <pre class="code">
                    @{
                        Write(@"
    [DataType(DataType.Time)]
    public DateTime TimeVar ( get; set; )
    public DateTime string ( get; set; )
    [DataType(DataType.EmailAddress)]
    public string EmailAddress ( get; set; )
");
                    }
                </pre>

                <p>server-side .CSHTML view containing custom tag-helper markup:</p>
                <pre class="code">
                    @{
                        // NOTE: delimitered code here for literal display; 
                        // the following code is not executed here, actual code is further below.
                        Write(@"
    <div *ngIf=""sampleData != null"">
        <tag-da bind-pa=""sampleData"" for=""DateTimeVar""></tag-da >
        <tag-da bind-pa=""sampleData"" for=""Text""></tag-da>
        <tag-da bind-pa=""sampleData"" for=""EmailAddress""></tag-da>
    </div>");
                    }
                </pre>
            </div>
            <div class="col-md-6">
                <p>Generated HTML sent to browser:</p>
                <br />
                <pre class="code">
                                            @{
                        Write(@"
    <div *ngIf=""sampleData != null"">
        <div><span>((sampleData.dateTimeVar | date:'dd/MM/yyyy hh:mm:ss'))</span></div>
        <div><span>((sampleData.text))</span></div>
    </div>");
                    }
                </pre>

                <p>Angular 2 generates this output into the client's browser:</p>
                <br />
                <div *ngIf="sampleData != null">
                    <tag-da bind-pa="sampleData" for="DateTimeVar"></tag-da>
                    <tag-da bind-pa="sampleData" for="Text"></tag-da>
                    @*<tag-da bind-pa="sampleData" for="EmailAddress"></tag-da>*@
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tagda">
            <div class="col-md-6">

                <p>snippet from server-side C# view-model, containing optional data attributes:</p>
                <pre class="code">
                    @{
                        Write(@"
    [DataType(DataType.Currency)]
    public decimal Currency ( get; set; )
    [Required]
    [StringLength(100, ErrorMessage = ""The (0) must be at least (2) characters long."", MinimumLength = 6)]
    [DataType(DataType.Password)]
    [Display(Name = ""Password"")]
    public string Password ( get; set; )");
                    }
                </pre>

                <p>server-side .CSHTML view containing custom tag-helper markup:</p>
                <pre class="code">
                    @{
                        // NOTE: delimitered code here for literal display; 
                        // the following code is not executed here, actual code is further below.
                        Write(@"
    <div *ngIf=""sampleData != null"">
        <tag-in bind-pa=""sampleData"" for=""Currency""></tag-da >
        <tag-in bind-pa=""sampleData"" for=""Password""></tag-da>
    </div>");
                    }
                </pre>

            </div>
            <div class="col-md-6">
                <p>This is the raw HTML sent to the server:</p>
                <pre class="code">
                                         @{
                        // NOTE: delimitered code here for literal display; 
                        // the following code is not executed here, actual code is further below.
                        Write(@"
    <div *ngIf=""sampleData != null"">
        <div class=""form-group"">
            <div class=""input-group"">
                <span class=""input-group-addon"">$</span>
                <input #sampleData.currency class=""form-control"" id=""sampleData.currency"" 
                            placeholder=""Currency"" required=""required"" type=""Currency"">
            </div>
        </div>
        <div class=""form-group"">
                <input #sampleData.password class=""form-control"" id=""sampleData.password"" 
                    maxLength=""100"" minLength=""6"" placeholder=""Password"" required=""required"" type=""Password"">
        </div>
    </div>");
    }
    </pre>

                <p>Angular 2 generates this output into the client's browser:</p>
                <br />
                <div *ngIf="sampleData != null">
                    <tag-in bind-pa="sampleData" for="Currency"></tag-in>
                    <tag-in bind-pa="sampleData" for="Password"></tag-in>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="references">
            <p>TODO: add links to docs</p>
        </div>
    </div>
</div>
