
<!-- Bootstrap 4 Jumbotron  -->
<div class="jumbotron">
    <div class="container">
        <h2 class="display-3">Angular 2 Multi-SPA</h2>
        <p>An application framework created to give you a working example of the best features in ASP.Net Core, Angular 2 and Bootstrap 4.</p>
        <p>Source available on <a href="https://github.com/RobertDyball/Angular2MultiSPA">Github</a></p>
        <p><a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Angular 2</h3>
            <p>Get a head start, use Angular 2.1.1 now, but don't get stuck with flat HTML, this framework uses ASP.Net Core to serve intelligent HTML templates using MVC/CSHTML, Razor and Tag Helpers.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>ASP.Net Core</h3>
            <p>.NET Core and ASP.NET Core give you a blazing fast and modular platform for creating server applications that run on Windows, Linux and Mac.</p>
            <p><a class="btn btn-secondary" href="http://dot.net" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Bootstrap 4</h3>
            <p>The world's most popular framework for building responsive, mobile-first sites and applications. Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div> <!-- /container -->
