

<h1>Home page</h1>

<p>Example of ASP.Net Core, Web API, SQL, EF Core, Angular 2, where data is secured using SQL, OpenIdDict & JWT:</p>

<p>Content page is secured, unauthorised users will be blocked and redirected to login page</p>