@using Angular2MultiSPA
@using Angular2MultiSPA.ViewModels.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*,Angular2MultiSPA"
@model RegisterViewModel

<div class="jumbotron center-block">
    <h1>Signup</h1>

    <form role="form" (submit)="signup($event, email.value, password.value, verifyPassword.value)">
        <form-entry for="Email"></form-entry>
        <form-entry for="Password"></form-entry>
        <form-entry for="VerifyPassword"></form-entry>
        <form-entry for="TestField"></form-entry>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
